* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-size: cover;
    background-image:url('images/back.svg')
}

.unselectable {
    user-select: none;
}


.box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    border-radius: 10px;
}
    
    .box::before {
    content: '';
    /*position: absolute;*/
    width: 10px;
    height: 140%;
    background-color: white;
    box-shadow: 0 0 20px rgb(8, 8, 8);
    animation: animate 5s linear infinite;
}

.box::after {
    content: '';
    /*position: absolute;*/
    inset: 10px;
    background-color: rgb(255, 216, 0);
    border-radius: 16px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}












body {
    height: 900px;
    display:block;
    background-color: rgb(16 23 24);
    margin: 0;
    padding: 1rem;
    overflow-x: hidden;
}

@keyframes pulse {
    from, to {
        scale: 1;
    }

    50% {
        scale: 1.08;
    }
}

#card {
    width: 450px;
    height: 100px;
    aspect-ratio: 2 / 3;
    /*border: 0.25rem solid rgb(255 255 255 / 15%);*/
    border-radius: 0.5rem;
    overflow: hidden;
    filter: url(#noise);
    position: relative;
    z-index: 1;
    padding-bottom: 20px;
}

    #card > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: inherit;
    }

    /*#card:hover > img {
        filter: url(#noise);
        animation: pulse 800ms ease-in-out;
    }*/

@media(max-width: 768px) {
    #card {
        width: 100%;
        
    }
}


